@tailwind base;
@tailwind components;
@tailwind utilities;
/* From Uiverse.io by alexruix */ 
.custom-select {
  @apply border dark:bg-[#23271e] text-[14px] px-2 appearance-none p-2 rounded-md w-full placeholder:text-slate-300 dark:placeholder:text-slate-300;
  max-height: 200px; /* Set the desired maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}
/* Double underline styling */
.double-underline::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Position the line below the text */
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor; /* Use the current text color */
   /* Creates a second underline */
}
